@using BlazorInvoiceMaker.Models

<div class="row px-3 mb-3 mb-md-0">
    @* Quantity at beginning of the line on a medium or larger screen *@
    <div class="d-none d-md-block col-md-2 px-0">
        <input type="number" class="form-control" @bind-value="Line.Quantity" @bind-value:after="OnAfterChange" />
    </div>
    <div class="col-12 col-md-6 px-0">
        <input type="text" class="form-control" @bind-value="Line.Description" @bind-value:after="OnAfterChange" />
    </div>
    @* Quantity at beginning of second line on a small or smaller screen *@
    <div class="d-block d-md-none col-4 px-0">
        <input type="number" class="form-control" @bind-value="Line.Quantity" @bind-value:after="OnAfterChange" />
    </div>
    <div class="col-4 col-md-2 px-0">
        <MoneyInput Class="form-control" Value="Line.UnitPrice" ValueChanged="UnitPriceChanged" />
    </div>
    <div class="col-4 col-md-2 ps-1 pe-0">
        <div class="float-end ms-1">
            <button type="button" class="btn btn-danger" @onclick="RemoveLine">-</button>
        </div>
        @Line.ExtendedPrice.ToString("C")
    </div>
</div>

@code {
    [Parameter]
    public InvoiceLine Line { get; set; } = new();
    [Parameter]
    public EventCallback<InvoiceLine> ValueChanged { get; set; }
    [Parameter]
    public EventCallback<int> LineRemoved { get; set; }

    public async Task UnitPriceChanged(decimal newValue)
    {
        Line.UnitPrice = newValue;
        await OnAfterChange();
    }

    public async Task RemoveLine()
    {
        await LineRemoved.InvokeAsync(Line.Id);
    }

    public async Task OnAfterChange()
    {
        await ValueChanged.InvokeAsync(Line);
    }
}
