@page "/"
@using Radzen.Blazor
@using ApexCharts
@implements IDisposable

<RadzenTheme Theme="material" />
<RadzenComponents @rendermode="RenderMode.InteractiveWebAssembly" />

<PageTitle>Home</PageTitle>

<RadzenStack>
    <RadzenRow>
        <RadzenColumn Size="12">
            <h4>Chart</h4>
            <RadzenChart @ref="radzenChart">
                <RadzenLineSeries Data="data" CategoryProperty="Name" Title="Units" ValueProperty="Value" LineType="LineType.Dashed">
                    <RadzenSeriesDataLabels Visible="true" />
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20" />
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Sales" />
                </RadzenValueAxis>
            </RadzenChart>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>

<button type="button" @onclick="UpdateChart">Update</button>

@code {
    private RadzenChart radzenChart = new RadzenChart();
    private PeriodicTimer timer;

    protected override async Task OnInitializedAsync()
    {
        // Don't await this because it will leave the function open while the timer is running
        Task.Run(StartTimer);
    }

    private List<DataItem> data =
    [
        new DataItem("1/1/2020", 10),
        new DataItem("1/2/2020", 20),
        new DataItem("1/3/2020", 100),
        new DataItem("1/4/2020", 50)
    ];

    private async Task UpdateChart()
    {
        Random random = new Random();
        DateTime newDate = DateTime.Parse(data.Last().Name).AddDays(1);
        data.Add(new DataItem(newDate.ToShortDateString(), random.Next(100) + 1));
        if (data.Count > 10)
        {
            data.RemoveAt(0);
        }
        await radzenChart.Reload();
    }

    private class DataItem
    {
        public string Name { get; set; } = string.Empty;
        public int Value { get; set; }

        public DataItem(string name, int value)
        {
            Name = name;
            Value = value;
        }
    }

    private async Task StartTimer()
    {
        timer = new PeriodicTimer(TimeSpan.FromSeconds(1));
        while (await timer.WaitForNextTickAsync())
        {
            await UpdateChart();
        }
    }

    void IDisposable.Dispose()
    {
        timer.Dispose();
    }
}
